body, html {
    height: 100%;
    font-family: 'Lobster', cursive;
}

.container {
    height: 100%;
}

.bg {
    width: 100%;
    height: 100%;
    position: relative;
}

.bg::before {
    /* The image used */
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("pics/background.jpg");
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;

    animation-name: backgroundHue;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}

@keyframes backgroundHue {
    0% {
        filter: hue-rotate(0) grayscale(20%);
    }
    50% {
        filter: hue-rotate(360deg) grayscale(20%);
    }
    100% {
        filter: hue-rotate(0) grayscale(20%);
        
    }
  }

@keyframes textHue {
    0% {
        filter: hue-rotate(0);
    }
    50% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(0);
        
    }
  }

#groupButtons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groupButton {
    height: 8rem;
    width: 100%;
    border: 4px solid #05ffa1;
    font-size: 3.5rem;   
    color: #ff71ce;
    backdrop-filter: blur(6px) grayscale(80%);
    box-shadow:
    0 0 10px 5px #ff71ce;
    animation-name: textHue;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}

.groupButton:hover {
    background-color: transparent;
    color: #ff71ce;
    border: 4px solid #05ffa1;
    box-shadow:
    0 0 15px 10px #ff71ce;
    transition: linear .1s;
}

#searchBar {
    height: 4rem;
    width: 100%;
    margin-top: 6rem;
    padding: 1rem;
    font-size: 2rem;
    animation-name: textHue;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}

#user {
    height: 4rem;
    width: 20%;
    margin-top: 6rem;
    padding: 1rem;
    font-size: 2rem;
    animation-name: textHue;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}